 <nav class="light-blue darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <i class="large material-icons">
          account_circle
        </i>
        Recuperacion
      </a>
      <div></div>
    </div>
  </div>
</nav>
    