 <nav class="light-blue darken-4">
      <div class='container'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo'>
          &#128209;ProjNodes
          </a>
          <ul class='right hide-on-med-and-down'>
            <li><a href='/'>Inicio </a></li>
            <li><a href="/server/views/home/about.hbs">Acerca de... </a></li>
          </ul>
        </div>
      </div>
    </nav>