  <br><br>
  
   <p class="fw-bold">CURSOS</p>
<p class="fw-bold">Fundación Carlos Slim – Capacítate para el empleo.</p>
<p class="fw-bold">Agosto 2020- Febrero 2021Fundación Carlos Slim – Capacítate para el empleo.</p>
 <ul class="collection">
    
    <li class="collection-item avatar">
      <i class="material-icons circle amber darken-4">folder</i>
      <span class="title">Capacítate Para El Empleo</span>
      <p>“Computo Básico” <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">accessibility</i>
       <span class="title">Capacítate Para El Empleo</span>
      <p>“Liderazgo” <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">fingerprint</i>
       <span class="title">Capacítate Para El Empleo</span>
      <p>“Funcionamiento CODI” <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">settings_system_daydream</i>
       <span class="title">Capacítate Para El Empleo</span>
      <p>"Administrador de base de datos" <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
     <li class="collection-item avatar">
      <i class="material-icons circle yellow accent-2">settings_input_composite</i>
       <span class="title">Capacítate Para El Empleo</span>
      <p>"Instalador de cables de cobre" <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
       <p>Hecho por:{{Referencias}}</p>
<p>Carrera:{{Direccion}}</p>