<div class="row"> <br>
        <div class="col-sm-4 blue lighten-4">
            <center>

  <span class="black-text">
            <img src='/public/images/13.jpg' class='imgRedonda' />
            Contacto<br>
            <i class="material-icons">business</i><p>Nezahualcóyotl, Edo Mex.</p>
            <i class="material-icons">call</i><p>55-28-85-44-34 <br>55-76-51-84-69</p>
            <i class="material-icons">drafts</i><p>aime25011994@gmail.com </p>   
        </i>
        </span>
        <p class="fw-bold">Habilidades</p>
          </center>
        <p>•••Trabajar con éxito en un
            entorno de equipo, así
            como de forma
            independiente</p>

             <p>••La capacidad de seguir
                 instrucciones y ofrecer
                 resultados de calidad.</p>

                 <p>•Puntualidad y
                     responsabilidad</p>

                  <p class="fw-bold">CURSOS</p>
                   <p class="fw-bold">Fundación Carlos Slim – Capacítate para el empleo.</p>
<p>Agosto 2020- Febrero 2021</p>
<p>
     •“Computo Básico”<br>
     •“Liderazgo”<br>
     •“Funcionamiento CODI”<br>
     •"Administrador de base de datos"<br>
     •"Instalador de cables de cobre"<br>
</p>

<p class="fw-bold">Idiomas </p>
<p>
ingles Basico
</p>
          
        <div  class ="bg-succes m-5 blue lighten-4">
          <div class="card blue lighten-4">

            <div class="card-body blue lighten-4">
                  
                         </div>
          </div>
        </div>
      </div>
        <div class="col-sm-7">
          <div  class ="bg-succes m-1">

            <div class="card-body">
                <p class="fs-1">VIVIANA AIMEE HERNANDEZ MENDOZA</p>
                <div class="p-1 mb-1 bg-dark text-white"></div>
                <p class="fs-5">E D A D : 2 3 A Ñ O S</p>
                <p>I N G . T E C N O L O G I A S D E L A</p>
                <p>I N F O R M A C I O N Y C O M U N I C A C I O N E S</p>
                <p  class="fs-5  fw-bold text-info">OBJETIVO LABORAL</p>
                <p>
                    Formar parte de un equipo de trabajo en el cual, pueda
                    arrollar mis conocimientos y habilidades obtenidos en
                    mi formación académica; dando lo mejor de mi,
                    comprometiéndome a ser un buen elemento para la empesa.
                </p>
                <p  class="fs-5  fw-bold text-info">EXPERIENCIA LABORAL</p>
        <p class="fw-bold">ENCARGADA-ADMINISTRADORA DE REDES</p>

       <p>Cibercafé-Papelería Maryana
           Agosto 2019- Abril 2021
           Jefe Directo: Martin Cuchcatla Sanguino
           Contacto: 5567328925
           C. eje 4 mz.31 lt.1, col. Ampliación Cd Lago
       </p>         
       <p>

           •Encargada de dos sucursales<br>
           •Mantenimiento a equipos de computo(formateo, instalación de software)<br>
           •Cableado estructurado<br>
           •Soporte técnico<br>
           •Empleada atendiendo en mostrador<br>
           •Facilidad de palabr
       </p>
        <p class="fw-bold">CONAII//Encuentro de Ingeniería Industrial -México, Perú y Colombia</p>
<p>
               •Miembro de vicepresidencia de Marketing y Difusión

</p>
 <p class="fw-bold">Proyectos escolares</p>
<p>
               •Modificaciones a la pagina oficial de ITGAM

</p>
                <p  class="fs-5  fw-bold text-info">FORMACION ACADEMICA</p>

 <p class="fw-bold">EDUCACION MEDIA SUPERIOR
Colegio de Bachilleres 9 "ARAGON"
Bachillerato General, CDMX</p>

<p>
2012 - 2016
</p>
 <p class="fw-bold">EDUCACION  SUPERIOR</p>

<p>
Instituto Tecnológico de Gustavo A. Madero<br>
2017-2021<br>
Cursando , CDMX</p>
          
       
    
      </div>
    </div>

<p>Hecho por:{{Autor}}</p>

