<br />
<br />
<div
  class="row center light-blue lighten-4"
  style="padding: 2em; border-radius: 1em;"
>
  <h1 class="header center teal-text">
    Hernadez Mendoza Viviana Aimme 
  </h1>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      Pila Completa 2
    </h5>
  </div>
  <div class="row center">
    <a href="/server/views/home/CV.hbs" class="btn-large waves-effect waves-light teal">
      CV &#128209;
    </a>
  </div>
</div>



