body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a{
    color: #00B7FF;
  }
  

h1{
    color: rgb(6, 247, 247);
}
.imgRedonda {
  width:300px;
  height:300px;
  border-radius:150px;
}
